streamlit
/home/adminuser/venv/bin/python -m pip install --upgrade pip
pandas
nltk
numpy
wordcloud
matplotlib
seaborn
scikit-learn
openpyxl
spacy
plotly
streamlit_tags
streamlit_agraph
pygraphviz 
networkx
https://github.com/explosion/spacy-models/releases/download/pl_core_news_sm-3.4.0/pl_core_news_sm-3.4.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1.tar.gz
