pandas
nltk
numpy
wordcloud
matplotlib
seaborn
scikit-learn
openpyxl
spacy==3.4.0
plotly
pygraphviz 
networkx
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz
streamlit==1.23.1
